.App {
  text-align: center;
  padding: 20px;
  margin: 100px;
  border-radius: 30px;
  margin-left: 500px;
  margin-top: 100px;
  width: 300px;
  border: 10px solid rgb(62, 62, 167);
  background-color: rgb(31, 132, 132);
}

.container{
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;

  
}
.additem{
  background-color: yellow;
  

}
.remove{
  margin: 5px;
  height: 50px;
  background-color: red;
}
.action{
  display: flex;
  margin: 5px;
  align-items: center;
  height: 50px;
  font-size: xx-large;
  


}
